<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login patient page</h1>

{% if user.is_authenticated %}
<h3> Your are login with {{ user.patient.identifier }}</h3>
<a href="{% url 'logout_patient'%}">Logout</a>
{% else %}
    <form method='POST' action="">
        {% csrf_token %}
        {{  form.as_p }}

        <input type="submit" value="login">
    </form>
{% endif %}
</body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



</html>