

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Patient page</h1>
    
{% if request.user.is_authenticated %}
    <h1> Is authenticated toto </h1>
    <form method='POST' action="">
        {% csrf_token %}
        {{  form.as_p }}

        <input type="submit" value="Create new patient">
    </form>
     
{% else %}
    <h1> Is Not authenticated </h1>
    
    Vous devez vous connectez ici <a href="{% url 'login_view' %}">login</a>
{% endif %}

    
</body>



</html>