<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>statis page</title>
</head>
<body>
    <h1>static page</h1>
    <object type="text/html" data="https://datastudio.google.com/reporting/3ed12c04-ccea-4a00-a2c7-2b2206952fbb"> toto</object>
    <iframe src="https://datastudio.google.com/embed/reporting/3ed12c04-ccea-4a00-a2c7-2b2206952fbb/page/x7onB" title="W3Schools Free Online Web Tutorials" width="1200px" height="800px"></iframe> 
    
</body>
</html>